version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: WheresMyMoney
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/wheresmymoney
      - SPRING_DATASOURCE_USERNAME=wheresmymoney
      - SPRING_DATASOURCE_PASSWORD=mypassword
      - SUPABASE_JWT_SECRET=${SUPABASE_JWT_SECRET:-}
#      - SUPABASE_JWT_SECRET=${JWT_SECRET}
    ports:
      - "9080:9080"
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - BACKEND_BASE_URL=http://localhost:9080/api
#        - SUPABASE_URL=${API_EXTERNAL_URL}
        - SUPABASE_URL=${SUPABASE_URL:-}
#        - SUPABASE_ANON_KEY=${ANON_KEY}
        - SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY:-}
    container_name: WheresMyMoney-frontend
    ports:
      - "9081:9081"
    depends_on:
      - backend
      - supabase-auth

  postgres:
    image: postgres:17
    container_name: WheresMyMoney-db
    environment:
      - POSTGRES_DB=wheresmymoney
      - POSTGRES_USER=wheresmymoney
      - POSTGRES_PASSWORD=mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U wheresmymoney"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Supabase Auth (GoTrue)
  supabase-auth:
    container_name: supabase-auth
    image: supabase/gotrue:v2.183.0
    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:9999/health"
        ]
      timeout: 5s
      interval: 5s
      retries: 3
    depends_on:
      supabase-db:
        condition: service_healthy
    environment:
      GOTRUE_API_HOST: 0.0.0.0
      GOTRUE_API_PORT: 9999
      API_EXTERNAL_URL: ${API_EXTERNAL_URL}

      GOTRUE_DB_DRIVER: postgres
      GOTRUE_DB_DATABASE_URL: postgres://supabase_auth_admin:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

      GOTRUE_SITE_URL: ${SITE_URL}
      GOTRUE_URI_ALLOW_LIST: ${ADDITIONAL_REDIRECT_URLS}
      GOTRUE_DISABLE_SIGNUP: ${DISABLE_SIGNUP}

      GOTRUE_JWT_ADMIN_ROLES: service_role
      GOTRUE_JWT_AUD: authenticated
      GOTRUE_JWT_DEFAULT_GROUP_NAME: authenticated
      GOTRUE_JWT_EXP: ${JWT_EXPIRY}
      GOTRUE_JWT_SECRET: ${JWT_SECRET}

      GOTRUE_EXTERNAL_EMAIL_ENABLED: ${ENABLE_EMAIL_SIGNUP}
      GOTRUE_EXTERNAL_ANONYMOUS_USERS_ENABLED: ${ENABLE_ANONYMOUS_USERS}
      GOTRUE_MAILER_AUTOCONFIRM: ${ENABLE_EMAIL_AUTOCONFIRM}

      # Uncomment to bypass nonce check in ID Token flow. Commonly set to true when using Google Sign In on mobile.
      # GOTRUE_EXTERNAL_SKIP_NONCE_CHECK: true

      # GOTRUE_MAILER_SECURE_EMAIL_CHANGE_ENABLED: true
      # GOTRUE_SMTP_MAX_FREQUENCY: 1s
      GOTRUE_SMTP_ADMIN_EMAIL: ${SMTP_ADMIN_EMAIL}
      GOTRUE_SMTP_HOST: ${SMTP_HOST}
      GOTRUE_SMTP_PORT: ${SMTP_PORT}
      GOTRUE_SMTP_USER: ${SMTP_USER}
      GOTRUE_SMTP_PASS: ${SMTP_PASS}
      GOTRUE_SMTP_SENDER_NAME: ${SMTP_SENDER_NAME}
      GOTRUE_MAILER_URLPATHS_INVITE: ${MAILER_URLPATHS_INVITE}
      GOTRUE_MAILER_URLPATHS_CONFIRMATION: ${MAILER_URLPATHS_CONFIRMATION}
      GOTRUE_MAILER_URLPATHS_RECOVERY: ${MAILER_URLPATHS_RECOVERY}
      GOTRUE_MAILER_URLPATHS_EMAIL_CHANGE: ${MAILER_URLPATHS_EMAIL_CHANGE}

      GOTRUE_EXTERNAL_PHONE_ENABLED: ${ENABLE_PHONE_SIGNUP}
      GOTRUE_SMS_AUTOCONFIRM: ${ENABLE_PHONE_AUTOCONFIRM}
      # Uncomment to enable custom access token hook. Please see: https://supabase.com/docs/guides/auth/auth-hooks for full list of hooks and additional details about custom_access_token_hook

      # GOTRUE_HOOK_CUSTOM_ACCESS_TOKEN_ENABLED: "true"
      # GOTRUE_HOOK_CUSTOM_ACCESS_TOKEN_URI: "pg-functions://postgres/public/custom_access_token_hook"
      # GOTRUE_HOOK_CUSTOM_ACCESS_TOKEN_SECRETS: "<standard-base64-secret>"

      # GOTRUE_HOOK_MFA_VERIFICATION_ATTEMPT_ENABLED: "true"
      # GOTRUE_HOOK_MFA_VERIFICATION_ATTEMPT_URI: "pg-functions://postgres/public/mfa_verification_attempt"

      # GOTRUE_HOOK_PASSWORD_VERIFICATION_ATTEMPT_ENABLED: "true"
      # GOTRUE_HOOK_PASSWORD_VERIFICATION_ATTEMPT_URI: "pg-functions://postgres/public/password_verification_attempt"

      # GOTRUE_HOOK_SEND_SMS_ENABLED: "false"
      # GOTRUE_HOOK_SEND_SMS_URI: "pg-functions://postgres/public/custom_access_token_hook"
      # GOTRUE_HOOK_SEND_SMS_SECRETS: "v1,whsec_VGhpcyBpcyBhbiBleGFtcGxlIG9mIGEgc2hvcnRlciBCYXNlNjQgc3RyaW5n"

      # GOTRUE_HOOK_SEND_EMAIL_ENABLED: "false"
      # GOTRUE_HOOK_SEND_EMAIL_URI: "http://host.docker.internal:54321/functions/v1/email_sender"
      # GOTRUE_HOOK_SEND_EMAIL_SECRETS: "v1,whsec_VGhpcyBpcyBhbiBleGFtcGxlIG9mIGEgc2hvcnRlciBCYXNlNjQgc3RyaW5n"

  # Comment out everything below this point if you are using an external Postgres database
  supabase-db:
    container_name: supabase-db
    image: supabase/postgres:15.8.1.085
    restart: unless-stopped
    volumes:
      - ./volumes/db/realtime.sql:/docker-entrypoint-initdb.d/migrations/99-realtime.sql:Z
      # Must be superuser to create event trigger
      - ./volumes/db/webhooks.sql:/docker-entrypoint-initdb.d/init-scripts/98-webhooks.sql:Z
      # Must be superuser to alter reserved role
      - ./volumes/db/roles.sql:/docker-entrypoint-initdb.d/init-scripts/99-roles.sql:Z
      # Initialize the database settings with JWT_SECRET and JWT_EXP
      - ./volumes/db/jwt.sql:/docker-entrypoint-initdb.d/init-scripts/99-jwt.sql:Z
      # PGDATA directory is persisted between restarts
      - ./volumes/db/data:/var/lib/postgresql/data:Z
      # Changes required for internal supabase data such as _analytics
      - ./volumes/db/_supabase.sql:/docker-entrypoint-initdb.d/migrations/97-_supabase.sql:Z
      # Changes required for Analytics support
      - ./volumes/db/logs.sql:/docker-entrypoint-initdb.d/migrations/99-logs.sql:Z
      # Changes required for Pooler support
      - ./volumes/db/pooler.sql:/docker-entrypoint-initdb.d/migrations/99-pooler.sql:Z
      # Use named volume to persist pgsodium decryption key between restarts
      - supabase_db_data:/etc/postgresql-custom
    healthcheck:
      test:
        [
          "CMD",
          "pg_isready",
          "-U",
          "postgres",
          "-h",
          "localhost"
        ]
      interval: 5s
      timeout: 5s
      retries: 10
    environment:
      POSTGRES_HOST: /var/run/postgresql
      PGPORT: ${POSTGRES_PORT}
      POSTGRES_PORT: ${POSTGRES_PORT}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: ${POSTGRES_DB}
      POSTGRES_DB: ${POSTGRES_DB}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXP: ${JWT_EXPIRY}
    command:
      [
        "postgres",
        "-c",
        "config_file=/etc/postgresql/postgresql.conf",
        "-c",
        "log_min_messages=fatal" # prevents Realtime polling queries from appearing in logs
      ]


  # Supabase Studio (Web UI) - Optional but useful
#  supabase-studio:
#    image: supabase/studio:20240729-ce42139
#    container_name: WheresMyMoney-supabase-studio
#    depends_on:
#      supabase-auth:
#        condition: service_started
#    environment:
#      STUDIO_PG_META_URL: http://supabase-meta:8080
#      POSTGRES_PASSWORD: postgres
#      DEFAULT_ORGANIZATION_NAME: WheresMyMoney
#      DEFAULT_PROJECT_NAME: WheresMyMoney
#
#      SUPABASE_URL: http://supabase-kong:8000
#      SUPABASE_PUBLIC_URL: http://localhost:9000
#      SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
#      SUPABASE_SERVICE_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImV4cCI6MTk4MzgxMjk5Nn0.EGIM96RAZx35lJzdJsyH-qQwv8Hdp7fsn3W0YpN81IU
#
#      NEXT_PUBLIC_ENABLE_LOGS: "true"
#      NEXT_ANALYTICS_BACKEND_PROVIDER: postgres
#    ports:
#      - "54323:3000"
#    restart: unless-stopped
#
#  # Kong API Gateway (routes requests to auth)
#  supabase-kong:
#    image: kong:2.8.1
#    container_name: WheresMyMoney-supabase-kong
#    depends_on:
#      supabase-auth:
#        condition: service_started
#    environment:
#      KONG_DATABASE: "off"
#      KONG_DECLARATIVE_CONFIG: /var/lib/kong/kong.yml
#      KONG_DNS_ORDER: LAST,A,CNAME
#      KONG_PLUGINS: request-transformer,cors,key-auth,acl,basic-auth
#      KONG_NGINX_PROXY_PROXY_BUFFER_SIZE: 160k
#      KONG_NGINX_PROXY_PROXY_BUFFERS: 64 160k
#    volumes:
#      - ./supabase/kong.yml:/var/lib/kong/kong.yml:ro
#    ports:
#      - "9000:8000"
#      - "9443:8443"
#    restart: unless-stopped
#
#  # Postgres Meta (for Studio)
#  supabase-meta:
#    image: supabase/postgres-meta:v0.83.2
#    container_name: WheresMyMoney-supabase-meta
#    depends_on:
#      supabase-db:
#        condition: service_healthy
#    environment:
#      PG_META_PORT: 8080
#      PG_META_DB_HOST: supabase-db
#      PG_META_DB_PORT: 5432
#      PG_META_DB_NAME: postgres
#      PG_META_DB_USER: supabase_admin
#      PG_META_DB_PASSWORD: postgres
#    restart: unless-stopped
#
#  # Inbucket (local email testing)
#  inbucket:
#    image: inbucket/inbucket:3.0.3
#    container_name: WheresMyMoney-inbucket
#    ports:
#      - "54324:9000"
#      - "2500:2500"
#    restart: unless-stopped

volumes:
  postgres_data:
  supabase_db_data:
